@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
     font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

ul{
    list-style-type: none;
    padding: 0;
}

.card-price{
font-family: 'Roboto', sans-serif;
}

.pricing-card {
    border: none;
    border-radius: 20px;
    transition: transform 0.3s;
    padding: 2rem 1rem;
}

.btn-outline-primary-custom {
    background-color: #fff0f5;
    color: #4e73df;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-weight: bold;
}

.review-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.bi-check-circle-fill{
    color: #5243C2;
    opacity: 0.5;
}